<form novalidate name="formLocacao">
    <select ng-model="locacao.Cliente">
          <option value="" selected>Selecione o Cliente</option>
            <option ng-repeat="c in clientes" ng-value="c">{{c.Nome}}</option>
      </select>
      <br>
      <select ng-model="locacao.Produto">
          <option value="" selected>Selecione o Produto</option>
            <option ng-repeat="p in produtos" ng-value="p">{{p.Nome}}</option>
      </select>
        <br>
      <select ng-model="locacao.Pacote">
          <option value="" selected>Selecione o Pacote</option>
            <option ng-repeat="pacote in pacotes" ng-value="pacote">{{pacote.Nome}}</option>
      </select>
      <br>
      <select multiple ng-model="locacao.Item">
            <option ng-repeat="a in adicionais" ng-value="a">{{a.Nome}}</option>
      </select>

      <div class="form-group">
            <label for="DataLocacao">Data da Locação</label>
            <input ng-model="locacao.DataLocacao" required type="date" class="form-control">
        </div>

        <div class="form-group">
            <label for="DataEntregaPrevista">Data da Entrega Prevista</label>
            <input ng-model="locacao.DataEntregaPrevista" required type="date" class="form-control">
        </div>

      <button type="submit" class="btn btn-primary" ng-click="salvar(locacao)">Salvar</button>

    </form>

    <button class="btn btn-primary" ng-click="deslogar()">Deslogar()</button>
