<!DOCTYPE html>
<html ng-app="modulo01">
  <head>
    <meta charset="utf-8">
    <title>titulo</title>
    <script src="https://code.angularjs.org/1.6.4/angular.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body ng-controller="dateController">
        <div class="container-fluid">
          <div class="row">
            <div class="form-group col-xs-3">
                      <label class="text-primary"> Digite uma data</label>
                      <input type="text" class="form-control" ng-model="data" placeholder="Ex.:dd/mm/aaaa">
                      <p class="text-primary" ng-if="dataformatada.length>0"> sua Data é: {{dataformatada}}</p>
            </div>
          </div>
          <div class="row">
              <button class="btn btn-primary" ng-click="formatarData(data)">Click Me pls</button>
          </div>
        </div>
  </body>
</html>