<button class="btn btn-primary" ng-click="irLocacao()">Votlar para Locação</button>
<button class="btn btn-success" ng-click="relatorioAtraso()">Gerar Relatório Atrasos</button>
<button class="btn btn-success" ng-click="relatorioMensal()" ng-if="verificaPermissao()">Relatório Mensal</button>
<div class="row col-md-12" ng-if="atrasados!=null">
        <h1>Relatório de Atrasados</h1>
    <table class="table table-striped">
        <tr>
            <th>Id Locação</th>
            <th>Data Locação</th>
            <th>Data Entrega Prevista</th>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Preço Sem Calcular Atraso</th>
        </tr>
    
        <tr ng-repeat="a in atrasados">
            <td>{{a.Id}}</td>
            <td>{{a.DataLocacao | date : 'dd-MM-yyyy' }}</td>
            <td>{{a.DataEntregaPrevista | date : 'dd-MM-yyyy' }}</td>
            <td>{{a.Cliente.Nome}}</td>
            <td>{{a.Cliente.Cpf}}</td>
            <td>{{a.PrecoTotal}}</td>
        </tr>
    </table>
</div>

<div class="row col-md-12" ng-if="mensal!=null">
    <h1>Relatório de Locações Mensal</h1>
    <table class="table table-striped">
        <tr>
             <th>Id Locação</th>
            <th>Data Locação</th>
            <th>Data Entrega Prevista</th>
            <th>Data Entrega Real</th>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Preço Sem Calcular Atraso</th>
        </tr>
    
        <tr ng-repeat="m in mensal">
             <td>{{m.Id}}</td>
            <td>{{m.DataLocacao | date : 'dd-MM-yyyy' }}</td>
            <td>{{m.DataEntregaPrevista | date : 'dd-MM-yyyy' }}</td>
            <td>{{m.DataEntregaReal | date : 'dd-MM-yyyy' }}</td>
            <td>{{m.Cliente.Nome}}</td>
            <td>{{m.Cliente.Cpf}}</td>
            <td>{{m.PrecoTotal}}</td>
        </tr>
    </table>
</div>