* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background: #c4170c;
    width: 100%;
    height: 80px;
    text-align: center;
    color: white;
    padding-top: 25px;
    font-weight: bold;  
}

.noticia{
    width: 40%;
    color: #c4170c;
    padding: 10px 23px;
    float: left;
    background: #fafafa;
    margin: 2% 5%;
}

.texto-noticia{
    color: #333;
    line-height: 2;
}

.subtitulo{
    color: #bbb;
}

p:first-letter { 
    font-size: 500%;
    color: #c4170c;
    float: left;
    line-height: 63px;
}

img{
    width: 270px; 
    float: right;
}

.noticia > footer{
    float: right;
    color: #bbb;
}