<button class="btn btn-primary" ng-click="irLocacao()">Votlar para Locação</button>
<table class="table table-striped">
        <tr>
            <th>Id Locação</th>
            <th>Data Locação</th>
            <th>Data Entrega Prevista</th>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Preço Sem Calcular Atraso</th>
            <th></th>
        </tr>
    
        <tr ng-repeat="a in mensal">
            <td>{{a.Id}}</td>
            <td>{{a.DataLocacao | date : 'dd-MM-yyyy' }}</td>
            <td>{{a.DataEntregaPrevista | date : 'dd-MM-yyyy' }}</td>
            <td>{{a.Cliente.Nome}}</td>
            <td>{{a.Cliente.Cpf}}</td>
            <td>{{a.PrecoTotal}}</td>
            <td><button class="btn btn-success" ng-click="devolverLocacao(a)">Devolver</button></td>
        </tr>
    </table>