<div class="wrapper">
		<form novalidate name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Logar Chat Crescer</h3>
			  <hr class="colorgraph"><br>
			  
			  <div class="row">
				  <div class="col-md-6 col-md-offset-3">
						<input type="text" class="form-control" ng-model="Username" placeholder="Username" required="" autofocus="" />
				  </div>
			  </div>

			  <div class="row">
				  <div class="col-md-6 col-md-offset-3">
						<input type="text" class="form-control" ng-model="UrlFoto" placeholder="link Foto">   
						   	
				  </div>
			  </div>

			  <div class="row">
				  <div class="col-md-6 col-md-offset-3">
						  <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" ng-click="logar()">Login</button>   			   	
				  </div>
			  </div>		  			
		</form>			
	</div>